.imgFile-container{
    display: flex;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
}

.imgFile-content-container{
    display: flex;
    width: 90%;
    justify-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-evenly;
}

.imgFile-content{
    height: 90px;
    margin-right: 5px;
}