* {
    background-color: white;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    background-color: yellow;
    height: 50%;
}

section {
    .sidebar {
        background-color: red;
        height: 50%;

    }

    .editor {
        background-color: blue;

    }
}

